<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Your name">
  <meta name="keywords" content="Carnegie Mellon University, Information Systems">
  <meta name="description" content="Your name professional website">
  <title>Inseo Kim</title>
</head>
<body>
  <header>
    <h1 id="webname">Inseo Kim</h1>
    <nav>
      <a class = "navigation" href="../index.html">Main</a>
      <a class = "navigation" href="cv.html">CV</a>
      <a class = "navigation" href="contact.html">Contact me</a>
      <a class = "navigation" href="fun.html">Funsies</a>
    </nav>
  </header>
  <div class = "main">
    <h2>Contact Me</h2>
    <form>
      <label>Name</label><br>
      <input type="text"><br>
      <label>Email</label><br>
      <input type="text"><br>
      <label>Comment</label><br>
      <textarea rows="4" cols="30"></textarea>
      <br>
      <input type="submit" value="Submit"><br>
    </form>
    <p></p>
    <table>
      <tr>
        <th>Method</th>
        <th>Info</th>
      </tr>
      <tr>
        <td>Phone</td>
        <td>650-439-4379</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>inseok@andrew.cmu.edu</td>
      </tr>
    </table>
    <footer>© Copyright Inseo Kim</footer>
  </div>
</body>
</html>
