<!DOCTYPE html>
<html lang="en">
<head>
  <script src="../static/script.js"></script>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Your name">
  <meta name="keywords" content="Carnegie Mellon University, Information Systems">
  <meta name="description" content="Your name professional website">
  <title>Inseo Kim</title>
</head>
<body onload="addYear()">
  <header>
    <h1 id="webname">Inseo Kim</h1>
    <nav>
      <a class = "navigation" href="../index.html">Main</a>
      <a class = "navigation" href="cv.html">CV</a>
      <a class = "navigation" href="contact.html">Contact me</a>
      <a class = "navigation" href="fun.html">Funsies</a>
    </nav>
  </header>
  <div class = "main">
    <h2>Curriculum Vitae</h2>
    <table>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
      </tr>
      <tr>
        <td>institute 1</td>
        <td>Lorem ipsum dolor sit amet.</td>
      </tr>
      <tr>
        <td>institute 2</td>
        <td>Lorem ipsum dolor sit amet.</td>
      </tr>
      <tr>
        <td>institute 3</td>
        <td>Lorem ipsum dolor sit amet.</td>
      </tr>
    </table>
    <p></p>
    <a href="../static/Resume.pdf">Resume</a>
    <footer id="copyYear">© Copyright Inseo Kim</footer>
  </div>
  <script src="../static/script.js"></script>
</body>
</html>
