<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Your name">
  <meta name="keywords" content="Carnegie Mellon University, Information Systems">
  <meta name="description" content="Your name professional website">
  <title>Inseo Kim</title>
</head>
<body onload="addYear()">
  <header>
    <h1 id="webname">Inseo Kim</h1>
    <nav class = "navigation">
      <a class = "navigation" href="../index.html">Main</a>
      <a class = "navigation" href="cv.html">CV</a>
      <a class = "navigation" href="contact.html">Contact me</a>
      <a class = "navigation" href="fun.html">Funsies</a>
    </nav>
  </header>
  <div class = "mainLayout">
    <div class = "item1">
      <h2>Things I do for fun</h2>
      <!-- <button onclick="showList()">Click to see...</button> -->
      <ul id="hobbies">
        <li>Crochet and knit</li>
        <li>Draw</li>
        <li>Binge Kdramas</li>
        <li>Explore Pittsburgh and eat good food</li>
      </ul>
    </div>
    <div class = "item2">
      <img class="funIMG" src="../static/spring_cat.jpg" alt="spring vibes cat">
    </div>
    <div class = "item3">
      <iframe width="420" height="315" title="lofi beats"
      src="https://www.youtube.com/embed/zWwrzfsUJVg?si=8D38rf0tVTpRdenC">
      </iframe>
    </div>
    <div class = "item4">
      <div class="container">
        <h2>Need some advice?</h2>
        <p id="adviceText">Click the button to get a random piece of advice!</p>
        <button onclick="getAdvice()">Click Me!</button>
      </div>
    </div>

    <footer id="copyYear">© Copyright Inseo Kim</footer>
  </div>
  <script src="../static/script.js"></script>
</body>
</html>
